//BENEFITS

.benefits {
    max-width: 1440px;
    padding: 30rem 12rem 15rem;
    margin: auto;

    &_section {
        display: flex;
        justify-content: space-between;
    }
    &__header {
        font-size: 7rem;
        font-family: $--font-heading;
        color: $--color-primary-dark-1;
        padding-bottom: 6rem;
    }
    &__header:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 17rem;
        top: 92rem;
        background: $--color-primary-dark-1;
    }
}

.card {
    width: 30%;
    &_header {
        font-family: $--font-heading;
        font-size: 2.4rem;
        padding: 2rem 0;
        color: $--color-primary-dark-1;
    }
    &_paragraph {
        font-size: 1.6rem;
        color: $--color-violet-grayish;
    }
}

// CALL TO ACTION SECTION

.callToAction {
    background-color: $--color-primary-dark-1;
    padding: 5.5rem 8rem;
    width: 72%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 18rem;

    &__graphic {
        background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: right;
    }
    &__headingAction {
        font-size: 6rem;
        font-family: $--font-heading;
        line-height: 7rem;
        color: $--color-white;
    }
}
